@import "tailwindcss";

@theme {
  --color-primary: #69000B;
  --color-primary-container: #930014;
  --color-secondary: #B12D20;
  --color-tertiary-container: #CBA72F;
  --color-surface: #FFF8F7;
  --color-surface-container-lowest: #FFFFFF;
  --color-surface-container-low: #FFF0EF;
  --color-surface-container: #FFE9E7;
  --color-surface-container-high: #FFE3E0;
  --color-surface-container-highest: #FFDAD7;
  --color-on-surface: #410006;
  --color-on-surface-variant: #93000A;
  --color-on-tertiary-fixed: #241A00;
  --color-error: #BA1A1A;
  --color-error-container: #FFDAD6;

  --font-serif: var(--font-newsreader), serif;
  --font-sans: var(--font-inter), sans-serif;
  --font-cjk: var(--font-noto-sans-sc), sans-serif;

  --shadow-ambient: 0 32px 32px -16px rgba(65, 0, 6, 0.06);
}

body {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
}
